<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}"  data-bs-theme="auto">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/c38da0f59c.js" crossorigin="anonymous"></script>
  {% feed_meta %}
  {% seo %}
  <link href="{{ '/assets/css/bootstrap.min.css' | absolute_url }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/css/marc.css" | relative_url }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | absolute_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | absolute_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | absolute_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | absolute_url }}">
  <link rel="icon" type="image/png" href="{{ '/android-chrome-192x192.png' | absolute_url }}" sizes="192x192">
  <link rel="icon" type="image/png" href="{{ '/android-chrome-512x512.png' | absolute_url }}" sizes="512x512">
  <link rel="manifest" href="/site.webmanifest">
  {% include custom-head.html %}
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="navbar-brand title">
          <a class="navbar-brand" href="{{ '/' | absolute_url }}"><img src="{{ '/assets/images/marc.png' | absolute_url }}"
            alt="{{ page.title }} {{ site.title }}" style="width:40px;" class="rounded-pill" title="{{ site.title }}"></a><a href="{{ '/' | absolute_url }}"><strong class="finger-paint-regular">{{ site.title | default: site.github.repository_name }}</strong></a></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              {% for nav in site.data.navigation %}
              <li class="nav-item"><a href="{{ nav.link }}" class="nav-link">{{ nav.icon }} {{ nav.name }}</a></li>
              {% endfor %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-share-from-square"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    {% for social in site.data.socials %}
          <a href="{{ social.link }}" class="dropdown-item">{{ social.icon
            }} {{ social.name }}</a>
          {% endfor %}
                  </ul>
              </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                          aria-expanded="false"  aria-label="Toggle theme (auto)"><i class="fa-regular fa-sun"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end">
                          <li><a class="dropdown-item" href="#" data-bs-theme-value="light" aria-pressed="false"><i class="fa-solid fa-sun"></i> Light</a></li>
                          <li><a class="dropdown-item" href="#" data-bs-theme-value="dark" aria-pressed="false"><i class="fa-solid fa-moon"></i> Dark</a></li>
                          <li><a class="dropdown-item" href="#" data-bs-theme-value="auto" aria-pressed="true"><i class="fa-solid fa-wand-magic-sparkles"></i> Auto</a></li>
                      </ul>
              </li>
            </ul>
        </div>
    </div>
  </nav>
    
  <main class="container mt-5 p-5" style="max-width:960px;">

    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center">{{ page.title }}</h1>
  
    {{content}}

</main>

    <!-- Footer -->
    <footer class="container text-center p-3 clear-fix mt-5">
      <p>&copy; 2000 - {{ site.year }} <a href="{{ '/' | absolute_url }}">Marc Ackermann</a>, alle rechten
        voorbehouden.</a><br />
        <small><a href="{{ '/disclamer/' | absolute_url }}">Disclamer</a> - <a href="{{ '/privacy/' | absolute_url }}">Privacy</a><br />
          Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a> & hosted on: <a
            href="https://github.com" target="_blank">github</a>.</small></p>
    </footer>

  </div>

  <script>
    // Automatic Slideshow - change image every 4 seconds
    var myIndex = 0;
    carousel();
    
    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}    
      x[myIndex-1].style.display = "block";  
      setTimeout(carousel, 4000);    
    }
    </script>
  <script type="module" src="{{ '/assets/js/bootstrap.bundle.min.js' | absolute_url }}"></script>
  <script type="module" src="{{ '/assets/js/color-modes.js' | absolute_url }}"></script>
</body>

</html>