---
layout: base
---


<div class="container-fluid bg-body-secondary">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ '/assets/images/marc.png' | absolute_url }}" class="rounded-pill d-block mx-lg-auto img-fluid" alt="{{ site.title | default: site.github.repository_name }}" width="200" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">👋 Moi eem</h1>
        <p class="lead">Op mijn nederige verblijfplaats.</p>
        <p class="lead">Je kwam op mijn blog terecht ik ben Marc ook wel Gekke Groninger genoemd door vrienden.</p>
        <p class="lead">Blijf en browse rond als je geïnteresseerd in tech, blogging, games, photo's & trains</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
      </div>
    </div>
  </div>
</div>

<main>

  <div class="album py-5">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% assign posts = site.posts %}

  {%- if posts.size > 0 -%}
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts limit:9 -%}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ post.tumbnail | default: " /assets/images/wall-408147.jpg" }}" alt="{{ post.title | escape }}"
            style="width:100%;height:225px" class="card-img-top">
            <div class="card-body">
              <h3 class="card-title">{{ post.title | escape }}</h3>
              <p class="card-text">{{ post.excerpt | markdownify | truncatewords: 20 }}</p>
              <div class="clear-fix">
                <span class="floar-end"><a href="{{ post.url | absolute_url }}"><small class="text-body-secondary">Lees meer <i class="fa-solid fa-angles-right"></i></small></a></span>
              </div>
            </div>
          </div>
        </div>
        {%- endfor -%}

        {%- endif -%}

      </div>
      <nav class="blog-pagination mt-5" aria-label="Pagination">
        {% if paginator.total_pages > 1 %}
        {% if paginator.previous_page %}
        <a class="btn btn-outline-primary rounded-pill" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older</a>
        {% endif %}
        {% if paginator.next_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-outline-secondary rounded-pill disabled" aria-disabled="true">Newer</a>
        {% endif %}
        {% endif %}
      </nav>
    </div>
  </div>

</main>